name: Publish

on:
    schedule:
    - cron: "0 4 * * *"
    workflow_dispatch:

jobs:
    build:
        name: Publish
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Setup node
              uses: actions/setup-node@v3
              with:
                  node-version: '18'
            - name: Setup Environment
              run: node -e "console.log('PACKAGE_VERSION=' + require('./package.json').version + '\nPACKAGE_NAME=' + require('./package.json').name + '-' + require('./package.json').version)" >> $GITHUB_ENV
            - name: Install
              run: yarn
            - name: Package extension
              run: yarn run package
            - name: Create GitHub release
              id: create_release
              uses: softprops/action-gh-release@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  tag_name: ${{ github.ref }}
                  name: v${{ env.PACKAGE_VERSION }}
                  body: ${{ steps.changelog.outputs.changes }}
                  draft: false
                  prerelease: false
                  files: ./${{ env.PACKAGE_NAME }}.vsix
